@import url("https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Major+Mono+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Gruppo&family=Major+Mono+Display&display=swap");

body {
  background-image: url(pexels-laura-tancredi-7078717.jpg);
  /* background-color: #f6f1f1; */
  background-repeat: no-repeat;
  /* background: fixed; */
  background-size: cover;
}
.flex-container {
  background-color: #fff;
  border: 1px solid rgb(225, 205, 205);
  max-width: 800px;
  height: 100%;
  margin: auto;
}
.flex-name-model {
  font-size: 25px;
  font-family: "Gruppo", sans-serif;
}
.flex-title {
  text-align: center;
  padding: 5px;
  /* color: #151414; */
  font-family: "Major Mono Display", monospace;
  /* text-decoration: underline none; */
}
.flex-subtitulo {
  background-color: #2d2d2d;
  color: #fff;
  max-width: 100%;
  padding-left: 15px;
  font-family: "Bungee Spice", sans-serif;
}
.flex-subtitulo::after {
  content: "";
  display: block;
  background-color: rgb(32, 136, 136);
  width: 100%;
  height: 5px;
}
.text-decoration-none {
  color: #151414;
}
/* .text-decoration-none:hover {
  transition: all 0.5s;
  color: gray;
} */
.flex-image {
  width: 180px;
  height: 150px;
  object-fit: cover;
  float: left;
  box-shadow: 5px 5px 5px gray;
  margin-left: 5px;
  border-radius: 3px;
  filter: brightness(70%);
}
.flex-image:hover {
  transition: all 0.5s;
  filter: brightness(100%);
  transform: translateY(-8%);
}
.flex-section {
  max-width: 650px;
  margin: auto;
  height: 200px;
  border: 1px solid rgb(218, 202, 202);
  border-radius: 5px;
  margin-bottom: 7px;
  padding-right: 10px;
  overflow: hidden;
}
.flex-p {
  text-align: center;
  font-size: 13px;
}
/*  */
.flex-btn {
  position: relative;
  top: 0px;
  left: 10px;
}
.flex-footer p {
  background-color: #2d2d2d;
  color: #fff;
  text-align: center;
  padding: 10px;
}
.focus-in-contract:hover {
  -webkit-animation: focus-in-contract 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: focus-in-contract 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.focus-in-contract {
  -webkit-animation: focus-in-contract 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: focus-in-contract 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@-webkit-keyframes focus-in-contract {
  0% {
    letter-spacing: 1em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes focus-in-contract {
  0% {
    letter-spacing: 1em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
